name: GitHub Actions Public to crates.io

on:
  push:
    branches:
      # There is no branch named publish, that's to disable this workflow
      - publish

jobs:
  build-and-release:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Rust
      uses: hecrj/setup-rust-action@v2
      with:
        rust-version: 'stable'
    - name: Test Cargo
      run: cargo --version
    - name: Test
      run: cargo test --verbose
    - name: Publish
      run: cargo publish --verbose
